<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>${project.parent.groupId}.${project.parent.artifactId}</package>
    <author>PIH</author>
    <description>
        ${project.parent.description}
    </description>
    <updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
    <require_version>${openMRSVersion}</require_version>
    <!-- / Module Properties -->

    <require_modules>
        <require_module version="${addresshierarchyVersion}">
            org.openmrs.module.addresshierarchy
        </require_module>
        <require_module version="${pihcoreVersion}">
            org.openmrs.module.pihcore
        </require_module>
        <require_module version="${emrapiVersion}">
            org.openmrs.module.emrapi
        </require_module>
        <require_module version="${radiologyappVersion}">
            org.openmrs.module.radiologyapp
        </require_module>
        <require_module version="${dispensingVersion}">
            org.openmrs.module.dispensing
        </require_module>
        <require_module version="${metadatadeployVersion}">
            org.openmrs.module.metadatadeploy
        </require_module>
        <require_module version="${patientregistrationVersion}">
            org.openmrs.module.patientregistration
        </require_module>
    </require_modules>

    <!-- Module Activator -->
    <activator>${project.parent.groupId}.${project.parent.artifactId}.MirebalaisMetadataActivator</activator>

    <!-- Internationalization -->
    <!-- All message codes should start with ${project.parent.artifactId}. -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>ht</lang>
        <file>messages_ht.properties</file>
    </messages>
    <!-- /Internationalization -->

    <!-- Global Properties -->
    <globalProperty>
        <property>mirebalaismetadata.installedDrugListVersion</property>
        <defaultValue>0</defaultValue>
        <description>
            Used to track what version of the master drug list is installed on the system
        </description>
    </globalProperty>

</module>

